@font-face {
  font-family: 'MyFutura';
  src: url('FuturaMedium.woff') format('woff'),
       url('FuturaMedium.ttf') format('truetype'),
       url('FuturaMedium.svg#FuturaMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFutura';
  src: url('futura-medium.eot');
  src: url('futura-medium.eot?#iefix') format('embedded-opentype'),
       url('futura-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

